body {
  font-family: Inter;
  padding: 0;
  margin: 0;
}

.header {
  background-image: url("image\ 36.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.header h1 {
  margin-top: 0;
}

.movie {
  display: flex;
  margin-left: 1.5em;
  margin-top: 2em;
  column-gap: 1em;
}
.movie-poster {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
